<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <title> About Devak Patel </title>
    <body style = "text-align: center"> 
        <div class="container">
        <div class="jumbotron">
        <h1>Who am I?</h1>
        <p>I am Devak Patel from Denville, NJ. 
            I am 16 and going to be a junior at Morris Hills High School this fall. 
            I am here because I am interested in computer science and learning about different web technologies.</p></p>
        </div>
        </div>
        <p> 
        <h1> Acomplishments and Skills</h1>
        <ul type = "circle">
            <li>Proficient in Java and Visual Basic </li> 
            <li>Familiar with Python and C++ </li>
            <li>Reached to super regionals on an FTC team </li>
            <li>I probably did some other stuff that I can not remember right now </li>
        </ul>
        <h1> My Hobbies</h1>
        <div class="container">
                <table class="table">
                    <thead class="text-center">
                        <tr><th><div class="text-center">
                             Hobby
                        </div></th>
                        <th><div class="text-center">
                            Proficiency
                        </div></th></tr>
                    </thead>
                    <tbody>
                        <tr> <td>Baseball</td><td>Meh</td>
                        </tr>
                        <tr><td>Video Games</td><td>Pretty Good, especially strategy games(or Smash bros)</td>
                        </tr>
                        <tr><td>Coding</td><td>Better than the average Joe</td>
                        </tr>
                        <tr><td>Spelling</td><td>I am a Grate Spelor</td>
                        </tr>
                        <tr><td>Cooking</td><td>I can make a sandwich, just give me a couple of hours</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <br>  
        <br>
    </body>
</HTML>