<!DOCTYPE html>
<html>
<title>About Me Page</title>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<div class="jumbotron">
<H3>Welcome to my About Me Page</H3></div></div>
<div class="container">
<h3><p>About Me</p></h3>
<H4>Hi, my name is Jacob and I am from Virginia. I am currently a 10th grader in high school and enjoy computer science.
I lived in the Netherlands for the first 5 years of my life and speak dutch at home to my family. I have also lived in Belgium for 2 years. 
</H4>
</div>
<div class="container">
<H3><p>My Achievements and Skills</p></H3>
</div>
<div class="container">

<div class="list-group">
	<a href="http://www.cookingchanneltv.com/home.html" class="list-group-item list-group-item-success">Cooking</a>
	<a href="https://en.wikipedia.org/wiki/Juggling" class="list-group-item list-group-item-info">Juggling</a>
	<a href="http://www.usaswimming.org/DesktopDefault.aspx" class="list-group-item list-group-item-warning"" class="list-group-item list-group-item-warning">9th place at swim and dive states</a>
</div>
<!--
<ul class="list-group">
<li class="list-group-item list-group-item-success">Cooking</li>
<li class="list-group-item list-group-item-info">Juggling</li>
<li class="list-group-item list-group-item-warning">9th place at swim and dive states</li>
</ul>
-->
</div>
<div class="container" ><H3><p>Table of Hobbies</p></H3></div>
<div class="container">
<table class="table table-hover table-striped">
<tr class="success">
<th>Hobby</th>
<th>How good</th>
</tr>
<tr>
<th>Swimming</th>
<th>8</th>
</tr>
<tr>
<th>Soccer</th>
<th>7</th>
</tr>
<tr>
<th>Sleeping</th>
<th>10</th>
</tr>
<tr>
<th>Driving</th>
<th>3</th>
</tr>
<tr>
<th>Video Games</th>
<th>8</th>
</tr>
</table>
</div>
</body>
</html>

