<!DOCTYPE html>
<html>
<head>
  <title>Hello Handlebars</title>
  <script src="handlebars-v4.0.5.js"></script>
</head>
<body>

<div id="contentDiv"></div>

<script id="the-template" type="text/x-handlebars-template">

{{!-- 7. Block helper that receives the name value for the radio buttons --}}
{{#makeRadio "size"}}
  Small
  Medium
  Large
{{/makeRadio}}

</script>

<script type="text/javascript">

// Assign the template name
var templateInfo = document.getElementById("the-template").innerHTML;

  // Compile the template
  var template = Handlebars.compile(templateInfo);

  // 7b. Create the helper that generates radio buttons
  Handlebars.registerHelper("makeRadio", function(name, options){

      // Save the string that the function returns
      var radioList = options.fn();

      // Split the results at the \n
      radioList = radioList.trim().split("\n");

      var output = "";

      // Cycle through the results and place them in radio elements
      for(var val in radioList){
        var item = radioList[val].trim();
        output += '<input type="radio" name="' + name + '" value="' + item + '">' + item + '<br />';
      }
      return output;
  });


  // If there is nothing to pass keep this blank
  var templateData = template({});

  document.getElementById('contentDiv').innerHTML += templateData;

</script>


</body>
</html>
