        <div class="container-fluid">
            <table class="table table-striped table-bordered table-hover">
                <thead> <h3><div class="alert alert-info"><b>Notifications</b></div></h3></thead>
                {{#each finallist}}
                <tr><td><a>{{Invited}}</a></td></tr>
                {{/each}}
                {{#each tylist}}
                <tr><td><a>{{CanGo}}</a></td></tr>
                {{/each}}
            {{{Something}}}
            </table>
            
        </div>